@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Oxygen', sans-serif;
}

body, html {
  background: #16161d;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
  text-indent: 10px;
  padding: 4px 0;
  background: #1b1c27;
  color: white;
}

.perWithoutTip {
  font-size: 1.3rem;
}

.perWithoutTip > span {
  color: #bb9af7;
}

.nav {
  font-size: 1.4rem;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #bb9af7;
  cursor: pointer;
}

.fa-arrow-rotate-left {
  margin-right: 10px;
}

.billTotalInput {
  width: 100%;
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  border-radius: 0;
  border: 0;
}

.billTotalInput:focus-visible {
  outline: none;
}

.serviceRadio > input[type=radio], 
.splitRadio > input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.serviceRadio > input[type=radio] + label::before{
  font-weight: 500;
  font-family: 'Font Awesome\ 6 Free';
  display: inline-block;
  content: "\f005";
  letter-spacing: 10px;
  font-size: 3.5em;
  color: #565f89;
  width: 1.4em;
}

.serviceRadio > input[type=radio]:checked ~ label:before{
  font-weight: 600;
  font-family: 'Font Awesome\ 6 Free';
  content: "\f005";
  font-size: 3.5em;
  color: #bb9af7;
}

.splitRadio > input[type=radio] + label::before{
  font-weight: 500;
  font-family: 'Font Awesome\ 6 Free';
  display: inline-block;
  content: "\f007";
  letter-spacing: 10px;
  font-size: 3.5em;
  color: #565f89;
  width: 1.4em;
}

.splitRadio > input[type=radio]:checked ~ label:before{
  font-weight: 600;
  font-family: 'Font Awesome\ 6 Free';
  content: "\f007";
  font-size: 3.5em;
  color: #bb9af7;
}

.serviceRadio > input[type=radio]:focus ~ label:before,
.splitRadio > input[type=radio]:focus ~ label:before {
  color: #bb9af7;
}

.serviceRadio, .splitRadio {
  text-align: center;
  height: 100px;
  flex-direction: row-reverse;
}

.totalAmt {
  width: 100%;
  font-size: 5em;
  text-align: center;
  font-weight: 500;
  color: #bb9af7;
}

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nobackground {
  background: rgba(28, 33, 38, 0);
  background: linear-gradient(90deg, rgba(28, 33, 38, 0) 0%, rgba(42, 52, 60, 0) 89%);
}

.background-gradient {
  background: #16161d
}

.text-color {
  color: #bb9af7;
}

.switch-input{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #1b1c27;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch-label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s;
}

.switch-input:checked + .switch-label {
	background: #bb9af7;
}

.switch-input:checked + .switch-label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.switch-label:active:after {
	width: 30px;
}